VITE_SUPABASE_URL="https://pgcslptsxtqarencwses.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBnY3NscHRzeHRxYXJlbmN3c2VzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2Njc0MzAsImV4cCI6MjA5MTI0MzQzMH0.1gEVE0Kd6lxFky6xhhRYHK9zBnGcJiDPLuftR5NW0KI"
VITE_SUPABASE_HEALTH_TABLE="health_data"
